<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MailKit" version="2.14.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1449.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="MimeKit" version="2.14.0" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
</packages>